

html{
    font-family:serif;
}

body{
    background-image: url("../images/white-waves.png")
}

header{
    background-color: #6b5b95;
    text-align: center;
    height: 150px;
    color: white;
    
    padding-top: 40px;
    border-bottom: 3px solid #878f99;
}

#buttonContainer{
    
    width: 100%;
    
    border: 2px solid #a2b9bc;
    margin-top: 10px; 
    text-align: center;
    
}
#inputDiv{
    border: 2px solid #a2b9bc; 
    margin-top: 20px;
    text-align: right;
    
    width: 100%;  
}
#textBox{
    margin-right: 10px;
    
}
#submit{
    margin: 5px 10px 5px 0px;

}
h5{
    margin-right: 25px;
}
#gifs{
    margin-top: 20px;
    width: 100%;
    
    border-top: 2px solid #a2b9bc;
    border-left: 2px solid #a2b9bc;
}
#ratings{
    font-size: 25px;
    font-family: serif;
    background-color: #a2b9bc;
    width: 30%;
}


